---
- name: Install dependencies
  apt:
    name:
      - curl
      - apt-transport-https
    state: present
    update_cache: yes

- name: Download Helm install script
  get_url:
    url: https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
    dest: /tmp/get_helm.sh
    mode: '0755'
  #notify: Remove Helm script

- name: Install Helm
  command: /tmp/get_helm.sh

- name: Add Prometheus community repo
  command: helm repo add prometheus-community https://prometheus-community.github.io/helm-charts

- name: Add Grafana repo
  command: helm repo add grafana https://grafana.github.io/helm-charts

- name: Update Helm repos
  command: helm repo update

- name: Install kube-prometheus-stack
  command: >
    helm upgrade --install monitoring prometheus-community/kube-prometheus-stack
    --namespace monitoring --create-namespace

# tasks file for helm
